# Copy to .env and fill in your values. Never commit .env to git.

# Alpha Vantage API
ALPHA_VANTAGE_API_KEY=YOUR_APIKEY

# AWS
AWS_ACCESS_KEY_ID=YOUR_KEY
AWS_SECRET_ACCESS_KEY=YOUR_SECRET_KEY
AWS_DEFAULT_REGION=eu-west-1
S3_BUCKET=forex-lakehouse-bucket

# Databricks
DATABRICKS_HOST=https://ditt-workspace.azuredatabricks.net
DATABRICKS_TOKEN=YOUR_TOKEN_HER

# Pipeline
PIPELINE_ENV=staging